/*  your css code here. If applicable */
.container{
	height:auto;
	width:auto;
	border:1px solid black;
	display:flex;
	flex-wrap:nowrap
}
.square{
	border:1px solid;
	width:100px;
	height:100px;
	
}
.square:hover{
	background:red;
}