/*  your css code here. If applicable */
.container{
	height:auto;
	width:auto;
	border:1px solid black;
	display:grid;
	grid-template-columns: repeat(40 ,1fr);
    grid-template-rows: repeat(20 ,1fr);
}
.square{
	border:1px solid;
	width:100px;
	height:100px;
	background:rgb(29, 29, 29);
	
}
.square:hover{
	background:rgb(29, 29,78);
	
}